@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 
  #4F46E5;
}

body {
    font-family: 'Poppins', sans-serif;
  text-align: center;
}



li {
  list-style: none;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
}

header h1 {
    font-family: 'Poppins', sans-serif;;
  text-align: initial;
}

nav {
  text-align: right;
  
}

nav > a {
  padding: 0 0.5rem;
  color: whitesmoke;
  text-decoration: none;
}

/* Main */

main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}

/*  Input */

.input-label {
  font-size: larger;
  color: var(--primary-color);
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: whitesmoke;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  border: none;
  color: whitesmoke;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: whitesmoke;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;

  margin: 1rem;
}

/* Footer */

footer {
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
li {
  display: inline;
  color: var(--primary-color);
  padding-right: 0.5rem;
  font-size: large;
  text-decoration: none;
  padding-bottom: 1rem;
}
#connect {
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
